.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-color);
    height: 100%;
}

.main {
    flex-grow: 1;
    display: flex;
    place-items: center;
}
